# Gradle
.gradle/
gradle/
gradlew
gradlew.bat

# Build outputs
build/
app/build/
captures/
.externalNativeBuild/
.cxx/

# Android Studio / IntelliJ
*.iml
.idea/
local.properties

# macOS
.DS_Store

# Keystore
*.jks
*.keystore
